$blue:#1877F2;
$green:#57f039;
$border-radius:0;
$paragraph-margin-bottom:0;
$gray-600:rgb(245,245,245);
@import '~bootstrap/scss/bootstrap';



Body {
  min-height: 100vh;
  background: linear-gradient(
    46deg, 
  rgba(131, 58, 180, 0.9) 0%, 
  rgba(70, 16, 196, 0.9) 50%,
  rgba(27, 206, 219, 0.9) 100%
);
}

.user-div:hover{
  background-color: rgb(250,250,250);
}
.messages-box{
  height: 500px;
  overflow-y:scroll;
  scrollbar-width: none;
  &::-webkit-scrollbar{display: none;}
}

.user-image{
  width: 50px; 
  height: 50px;
  object-fit: cover; 
  border-radius: 50%;
}
.message-imput::placeholder{
    color: rgba(0, 0, 0, 0.5);
}
.info-text{
  color: rgba(0, 0, 0, 0.5);
text-align: center;
margin-bottom: 0.5rem;
}